.intro {
    display: grid;
    width: 70%;
    margin: 0 auto 100 auto;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

}


@media screen and (max-width:1279px) {
    .intro {
      width: 95%;
    }
}

@media screen and (max-width:767px){
    .intro{
      width: 95%;
    }
}