.cover__overlay {
    z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
    .cover__overlay:hover{
        background-color: rgb(50, 50, 50);
        opacity: 0.5;
    }
    