.footer {
    color: #fff;
    text-align: center;
    padding: 100px 0 10px 0;
    display: grid;
    justify-items:center; 
    align-items:center; 
    max-width: 191px;
    max-height: 16px;
    margin:auto ;
  
}
@media screen and (max-width:767px){
    .footer{
    max-width: 191px;
    max-height: 14px;
   margin:auto;

    }
}
