.place__website-title{
  color: #AAAAAA;
  font-size: 12px;
  line-height: 14.5px;
  font-weight: 400;
  margin: 0;
      

}
@media screen and (max-width:767px){
  .place__website-title{
     padding-left: 10px;

  }
}